<style>
	.breadcrumb-item.active a{
		color:red!important;
	}
	.hover-style:hover{
		cursor:pointer;
		background-color:rgba(224, 53, 53, .5);
	}
	.fab-app-popup{
	position:absolute; width:250px; height:auto;background-color:rgba(240, 242, 147, .9); z-index:1000;padding:2%;border-radius:18px; border:1px solid black}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
<div ng-app="fablixApp" ng-controller="browseCtrl">
	<div class="row" style="margin-top:10px"> 
		<ol class="breadcrumb text-center" >
			  <li>Browse by title</li>
			  <li class="breadcrumb-item" ng-repeat="c in filterTitleList" ng-class="{'active' :  filters.searchWord.toLowerCase() == c.toLowerCase() && currtype == 'start_title'}">
			  	<a href="#/DisplayResults" ng-click="SearchTitle(c, 'start_title')">{{c}}</a>
			  </li>	  	  	  	  
		</ol>
	</div>
	<div class="container" style="margin-top:10px">
		<div class="row" style="margin:2% 0">
			<div class="col-md-3">
				<div class="form-group">
				  <label for="genre">Browse by Genre:</label>
				  <select class="form-control" id="genre" ng-model="filters.genre"
				  		ng-options="option.name as option.name for option in genreList"
				  		ng-change="Search()">
				  </select>
				</div>
			</div>
			<div class="col-md-2">
		        <div class="form-group">
		        	<label for="searchWord">Search:</label>
		          <input type="text" name="searchWord" required class="form-control" ng-model="filters.searchWord" placeholder="Search Title">
		        </div>
		        
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<label for="type">Search Type:</label>
					<select name="type" ng-options="option.value as option.text for option in searchTypes" class="form-control" ng-model="filters.type" data-width="fit">
				  		<option value="">Select</option>
				  	</select>
				</div>
			</div>
			<div class="col-md-1">
				<div class="form-group">
					<button type="button" class="btn btn-success" style="margin-top:36%" ng-click="Search()">Search</span></button>
				</div>
			</div>
			<div class="col-md-1">
				<div class="form-group">
					<button type="button" class="btn btn-default" style="margin-top:36%" ng-click="Clear()">Clear</span></button>
				</div>
			</div>
			<div class="col-md-2" style="float:right">
				<div class="form-group">
				 	<label for="genre">Page Setting:</label>
					<select name="state" id="maxRows" class="form-control" style="width:150px" ng-model="filters.pageLength"
						ng-options="option.value as option.name for option in page"
						ng-change="RefreshPage()">
					</select>
				</div>
			</div>
		</div> 	
		<div class="row">
			<div class="col-md-12">
				<p>*There were {{resultCount}} results</p>
			</div>
		</div>		
		<div ng-if= "movieList.length == 0" class="container">
	       	<h1>No result found</h1>
	    </div> 
	    <div class="row">
	    	<div class="col-md-12">
    			<table ng-if= "movieList.length != 0" id="table" class="table table-bordered table-striped">
					<tr>
						<th>Image</th>
			          	<th>ID</th>
			          	<th class="hover-style" ng-click="ReOrderMovie('title');">Title <span ng-if="filters.orderBy =='title'" ng-class="filters.isDesc ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-up'"></span></th>
			          	<th class="hover-style" ng-click="ReOrderMovie('year');" style="min-width:100px">Year <span ng-if="filters.orderBy =='year'" ng-class="filters.isDesc ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-up'"></span></th>
			          	<th>Director</th>
			          	<th>Genres</th>
			          	<th>Featured stars</th>
			          	<th><span class = "glyphicon glyphicon-shopping-cart" ></span></th>
			      	</tr>
					<tbody>
				
					<form>
						<tr ng-repeat="movie in movieList">
							<td align = "center">
				    				<img ng-src="{{movie.banner_url}}" class="img-thumbnail" alt="Cinque Terre" width="200px" height="200px" alt= "No image"></img>
		 					</td>
				            <td>{{movie.id}}</td>
				            <td>
				            	<a ng-href="#/DetailPage/{{movie.id}}/movie" ng-mouseenter="ShowPopUp(movie.id)">{{movie.title}}</a>
				            	<div style="position:relative">
									<div class="fab-app-popup" ng-if="hoverId === movie.id" ng-mouseenter="ShowPopUp(movie.id)" ng-mouseleave="HidePopUp()">
				            			<div class="row">
				            				<div class="col-md-12 text-center">
				            					<h1><u>{{movie.title}}</u></h1>
				            				</div>
				            			</div>
				            			<div class="row " >
				            				<div class="col-md-11 col-md-offset-1 text-left">
				            					<div class="form-group">
				            						<p><b>Year: </b>{{movie.year}}</p>
				            						<p><b>Director: </b>{{movie.director}}</p>
				            						<span><b>Genres: </b></span><a ng-href="#/DisplayResults/{{g.name}}" ng-repeat="g in movie.genres">{{g.name}}<span ng-show="!$last">, </span></a><br/>
				            						<span><b>Stars: </b></span><a ng-href="#/DetailPage/{{s.id}}/star" ng-repeat="s in movie.stars">{{s.first_name}} {{s.last_name}}<span ng-show="!$last">, </span></a><br/>
				            						<span><b>Trailer: </b></span><a ng-href="{{movie.trailer_url}}" target="_blank">{{movie.trailer_url}}</a>
				            					</div>
				            					<button type="submit" class="btn btn-success" ng-click="vm.addToCart(movie)" style="margin-bottom:3%;">Add to Cart</button>
				            				</div>
				            			</div>
									</div>
				            	</div>
				            </td>
				            <td>{{movie.year}}</td>
				            <td>{{movie.director}}</td>
				            <td>
				            	<a ng-href="#/DisplayResults/{{g.name}}" ng-repeat="g in movie.genres">{{g.name}}<span ng-show="!$last">, </span></a>
				            </td>
				            <td>
				            	<a ng-href="#/DetailPage/{{s.id}}/star" ng-repeat="s in movie.stars">{{s.first_name}} {{s.last_name}}<span ng-show="!$last">, </span></a>
				            </td>
				            <td>
		            			<button type="submit" class="btn btn-success" ng-click="vm.addToCart(movie)">Add to Cart</button>
				            </td>
						</tr>
					</form>
					</tbody>
				</table>
	    	</div>
	    </div>
	</div>
	<div align="center" ng-if= "movieList.length != 0">
		<nav>
			<ul class= "pagination">
				<li>
					<a href="#DisplayResults" arial-label = "Previous" ng-click="GetNextPage(filters.currentPage-1)">
						<span aria-hidden="true">Previous</span>
						<span class="sr-only">Previous</span>
					</a>
				</li>
				<li ng-repeat="i in pageVal" ng-class="{'active' : filters.currentPage == i }">
					<a href="#DisplayResults" arial-label = "{{i}}" ng-click="GetNextPage(i)">
						<span aria-hidden="true">{{i}}</span>
						<span class="sr-only">{{i}}</span>
					</a>
				</li>
				<li>
					<a href="#DisplayResults" arial-label = "Next" ng-click="GetNextPage(filters.currentPage+1)">
						<span aria-hidden="true">Next</span>
						<span class="sr-only">Next</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
